/* PHASE 1: Header */

body {
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: #25cd70;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.tabs {
    display: flex;
}

.tabs  li {
    margin-left: -1px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 10px;
    position: relative;
}


.dropdown {
    display: none;
    position: absolute;
    top: 55px;
    left: 0px;
    
}

.dropdown li {
    border: black 1px solid;
    margin-bottom: -1px;
}

.tabs li:hover .dropdown{
    display: block;
    background-color: white;
}


.logo {
    margin-left: -1px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;

}

a :hover {
    background-color:gold;
}
/* 
ul.dropdown {
    background-color: white;
} */

ul.dropdown :hover {
    background-color: darkgray;
}

